<a href="https://colab.research.google.com/github/MusaibSyd/Natural-Language-Processing/blob/main/NLP_Moviereview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/moviereviews.tsv", sep='\t')

In [ ]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [ ]:
df.dropna(inplace=True)

In [ ]:
blanks = []

for i,lb,rv in df.itertuples():
  if rv.isspace():
    blanks.append(i)

In [ ]:
df.drop(blanks,inplace=True)

In [ ]:
len(df)

1938

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df['review']

In [ ]:
y = df['label']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [ ]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()), ('clf',LinearSVC())])

In [ ]:
text_clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [ ]:
predictions = text_clf.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [ ]:
print(confusion_matrix(y_test,predictions))

[[235  47]
 [ 41 259]]

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [ ]:
print(accuracy_score(y_test,predictions))

0.8487972508591065